stages:
  - test
  - deploy

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

# https://pip.pypa.io/en/stable/topics/caching/
cache:
  paths:
    - .cache/pip

running test:
  stage: test
  image: python:3.11
  script:
    - python --version ; pip --version  # For debugging
    - pip install virtualenv
    - virtualenv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
    - pytest -n auto tests/parallel/test_full_crud_single2.py --html=html_report/report.html --alluredir=reports
  artifacts:
    paths:
      - html_report/
      - reports/

deploy results to s3:
  stage: deploy
  image:
    name: amazon/aws-cli:2.4.11
    entrypoint: [""]
  script:
    - aws --version
    - pwd
    - aws s3 sync html_report/ $AWS_S3_BUCKET --delete
    - aws s3 sync reports/ $AWS_S3_BUCKET --delete